USE [dbHibernate]
GO
/****** Object:  Table [dbo].[CERTIFICATE]    Script Date: 06/25/2014 00:29:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CERTIFICATE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[certificate_name] [varchar](30) NULL,
 CONSTRAINT [PK_CERTIFICATE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 06/25/2014 00:29:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](20) NULL,
	[last_name] [varchar](20) NULL,
	[salary] [int] NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMP_CERT]    Script Date: 06/25/2014 00:29:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_CERT](
	[employee_id] [int] NOT NULL,
	[cerftificate_id] [int] NOT NULL,
 CONSTRAINT [PK_EMP_CERT] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC,
	[cerftificate_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_EMP_CERT_CERTIFICATE]    Script Date: 06/25/2014 00:29:35 ******/
ALTER TABLE [dbo].[EMP_CERT]  WITH CHECK ADD  CONSTRAINT [FK_EMP_CERT_CERTIFICATE] FOREIGN KEY([cerftificate_id])
REFERENCES [dbo].[CERTIFICATE] ([id])
GO
ALTER TABLE [dbo].[EMP_CERT] CHECK CONSTRAINT [FK_EMP_CERT_CERTIFICATE]
GO
/****** Object:  ForeignKey [FK_EMP_CERT_EMPLOYEE]    Script Date: 06/25/2014 00:29:35 ******/
ALTER TABLE [dbo].[EMP_CERT]  WITH CHECK ADD  CONSTRAINT [FK_EMP_CERT_EMPLOYEE] FOREIGN KEY([employee_id])
REFERENCES [dbo].[EMPLOYEE] ([id])
GO
ALTER TABLE [dbo].[EMP_CERT] CHECK CONSTRAINT [FK_EMP_CERT_EMPLOYEE]
GO
